@model DotNETJumpStart.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <a href="~/Uploads/@Model.Image.FileName"><img src="~/Uploads/@Model.Image.FileName" width="250" alt="Bild" /></a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes.Count)
        </dd>
    </dl>
    <div>
        <header><h3>Die letzten 10 Likes</h3></header>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <td>Benutzer</td>
                        <td>Datum</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var like in @Model.Likes.OrderByDescending(l => l.Created).Take(10))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => like.User.Name)</td>
                            <td>@Html.DisplayFor(model => like.Created)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </p>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
